.templet {
  display: grid;
  align-content: center;
}
.heading {
  font-size: 16px;
  background: #666;
  color: white;
  padding: 6px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
.columHeading {
  padding: 5px;
  color: #666;
  letter-spacing: 0.5em;
  text-align: left;
}
.button {
  background-color: #666666;
  border-radius: 5px;
  border: 1px solid #5c5c5c;
  cursor: pointer;
  color: #ffffff;
  padding: 11px 23px;
  float: right;
}
.cart {
  width: 100%;
}
