/*@import-normalize; bring in normalize.css styles */
html,
body {
  margin: 0 auto;
  padding: 0 0 0 0;
  font-family: "Merienda", sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}
