/*@import-normalize; bring in normalize.css styles */
html,
body {
  margin: 0 auto;
  padding: 0px;
  font-family: "Merienda", sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  /*grid-template-rows: 1fr;*/
  /* grid-row-gap: 15px;*/

  background: #919191;
}
