html,
body {
  margin: 0 auto;
  padding: 0px;
  font-family: "Merienda", sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 15px;
  justify-items: center;
  color: #5a5a5a;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 16px;
  background: #919191;
}
